body{
    background-color:#4B5C52;
}

#title{
    font-family:  "Century Gothic", fantasy;
    font-size: 50px;
    text-align:center;
}

#outer{
    text-align:center;
    margin-bottom: 50px;
    font-size: 30px;
    font-family:  "Century Gothic", fantasy;


}

#inner{
    
    margin: 10px 10px 0;
    display: inline;
    
}

#text{
    font-family:  "Century Gothic", fantasy;
    font-size: 30px;
    height: 300px;
    width: 390px;
    margin-left: 200px;
   
    position:relative;left:0px;top:100px;
    
}

#text2{
    font-family:  "Century Gothic", fantasy;
    font-size: 30px;
    height: auto;
    width: 450px;
    text-align:left;
    float:left;
    display:inline-block;
    margin-left: 50px;
    margin-bottom: 20px;
    
    
    
}
#text3{
    font-family:  "Century Gothic", fantasy;
    font-size: 30px;
    height: auto;
    width: 800px;
    text-align:left;
    display:inline-block;
    margin-left:180px;
    margin-bottom: 30px;
    
    
}
#profile{
    margin-left: 100px;
    
}
#profile2{
    margin-left: 100px;
    display:inline-block;
}
.img-rounded{
    border-radius: 10%;
    margin-bottom:20px;
    float: right;
    margin-right: 150px;
    
    box-shadow: 3px 3px 3px #012E34;
}
.img-circle{
    border-radius: 30%;
    
    float: right;
    margin-right: 300px;
    box-shadow: 3px 3px 3px #012E34;
}
.btn {
    font-family:  "Century Gothic", fantasy;
    background: #1E2320;
    background-image: -webkit-linear-gradient(top, #1E2320, #1E2320);
    background-image: -moz-linear-gradient(top, #1E2320, #1E2320);
    background-image: -ms-linear-gradient(top, #1E2320, #1E2320);
    background-image: -o-linear-gradient(top, #1E2320, #1E2320);
    background-image: linear-gradient(to bottom, #1E2320, #1E2320);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 4px 3px 5px #666666;
    -webkit-box-shadow: 3px 3px 3px #666666;
    -moz-box-shadow: 3px 3px 3px #666666;
    box-shadow: 3px 3px 3px #012E34;
    
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #0F414F;
    background-image: -webkit-linear-gradient(top, #0F414F, #1E2320);
    background-image: -moz-linear-gradient(top, #0F414F, #1E2320);
    background-image: -ms-linear-gradient(top, #0F414F, #1E2320);
    background-image: -o-linear-gradient(top, #0F414F, #1E2320);
    background-image: linear-gradient(to bottom, #0F414F, #1E2320);
    text-decoration: none;
}

ul
{
    list-style-type: circle;
}

header
{
    background-color: #265857;
    padding: 10px;
    margin: 50px;
    text-align:center;
}

footer
{
    background-color: #E09870;
    padding: 0.5em;
    text-align:center;
}

table, tr, td
{
    
    border: 2px solid blue;
}